<head>
{% include meta.html %}

  <title>my blog on drones</title>

  <!-- Favicons -->
  <link href="/bm/img/favicon.png" rel="icon">
  <link href="/bm/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/bm/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/bm/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="/bm/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="/bm/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="/bm/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/bm/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/bm/lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="/bm/css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/bm/css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="/bm/css/responsive.css" rel="stylesheet">
</head>