<!-- JavaScript Libraries -->
<script src="/bm/lib/jquery/jquery.min.js"></script>
<script src="/bm/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/bm/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/bm/lib/venobox/venobox.min.js"></script>
<script src="/bm/lib/knob/jquery.knob.js"></script>
<script src="/bm/lib/wow/wow.min.js"></script>
<script src="/bm/lib/parallax/parallax.js"></script>
<script src="/bm/lib/easing/easing.min.js"></script>
<script src="/bm/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="/bm/lib/appear/jquery.appear.js"></script>
<script src="/bm/lib/isotope/isotope.pkgd.min.js"></script>