<div class="single-blog-page">
              <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>	  
<!-- assign alltags = site.note | map:'tags' | join:',' | split:',' | group_by:'tag' -->
<!-- for tag in site.tags -->
                    <li>
                      <a href="#">{{ tag.name }} ({{ tag.size }})</a>
                    </li>
<!-- end for -->
                  </ul>
                </div>
              </div>
            </div>