<div class="single-blog-page">
              <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>
{% capture tag_sizes %}{% for tag in site.tags %}{{ tag[1].size | plus: -10000 }} {{ tag[0] }}^{% endfor %}{% endcapture %}
{% assign tags_sorted_by_number_of_posts = tag_sizes | split: '^' | sort %}
{% for pre_processed_tag in tags_sorted_by_number_of_posts %}
  {% assign tag_with_size = pre_processed_tag | split: ' ' %}
  {% assign key = tag_with_size[1] %}
  {% assign tag = site.tags[key] %}
                    <li>
                      <a href="#">{{ key }} ({{ tag.size }})</a>
                    </li>
{% endfor %}
                  </ul>
                </div>
              </div>
            </div>